/**
 * KCUI - KCUI Tabs Component
 * Summary: Accessible tabs with panel integration.
 *
 * Author: KaisarCode
 * Website: https://kaisarcode.com
 * License: GNU General Public License v3.0
 * License URL: https://www.gnu.org/licenses/gpl-3.0.txt
 */

/* Tabs */

.tabs > [role="tablist"] {
    gap: calc(var(--pad) / 4);
    display: flex;
    z-index: 1;
    position: relative;
    align-items: flex-end;
    min-height: calc(1.15em + var(--pad) * 1.5 + var(--bdw) * 2);
    margin-bottom: calc(var(--bdw) * -1);
}

.tabs > [role="tablist"] > [role="tab"] {
    margin: 0;
    flex: 0 0 auto;
    color: var(--tx-hdr);
    padding: calc(var(--pad) / 2) var(--pad);
    border-color: var(--bd-pnl);
    background-color: var(--bg-hdr);
}

.tabs > [role="tablist"] > [role="tab"]:not([aria-selected="true"]):hover {
    padding-bottom: var(--pad);
}

.tabs > [role="tablist"] > [role="tab"][aria-selected="true"] {
    color: var(--tx-pnl);
    padding-bottom: var(--pad);
    border-color: var(--bd-pnl);
    background-color: var(--bg-pnl);
    border-bottom-color: var(--bg-pnl);
}

/* Panels */

.tabs > [role="tabpanel"] {
    margin-bottom: 0;
}

.tabs > [role="tabpanel"][hidden] {
    display: none;
}

/* Motion */

@media (prefers-reduced-motion: no-preference) {
    .tabs > [role="tablist"] > [role="tab"] {
        transition:
            padding-bottom 0.12s ease,
            color 0.12s ease,
            border-color 0.12s ease,
            background-color 0.12s ease;
    }
}
