/**
 * KCUI - KCUI Drawer Component
 * Summary: Collapsible panel.
 *
 * Author: KaisarCode
 * Website: https://kaisarcode.com
 * License: GNU General Public License v3.0
 * License URL: https://www.gnu.org/licenses/gpl-3.0.txt
 */

.drw {
    --drw-top: 0;
    --drw-right: auto;
    --drw-bottom: 0;
    --drw-left: 0;

    --drw-width: 20rem;
    --drw-height: 100%;

    --drw-position: fixed;

    --drw-open: translate(0);
    --drw-closed: translateX(-100%);

    --drw-open-clip: inset(0);
    --drw-closed-clip: inset(0);

    top: var(--drw-top);
    right: var(--drw-right);
    bottom: var(--drw-bottom);
    left: var(--drw-left);

    width: var(--drw-width);
    height: var(--drw-height);

    max-width: 100%;
    max-height: 100%;

    margin: 0;
    z-index: 999;
    position: var(--drw-position);

    transform: var(--drw-closed);
    clip-path: var(--drw-closed-clip);
}

.drw[open] {
    transform: var(--drw-open);
    clip-path: var(--drw-open-clip);
}

@media (prefers-reduced-motion: no-preference) {
    .drw {
        transition:
            transform 0.18s ease,
            clip-path 0.18s ease;
    }
}
