/**
 * KCUI - Solarized Dark Color Palette
 * Summary: Dark color palette inspired by the Solarized palette.
 *
 * Author: KaisarCode
 * Website: https://kaisarcode.com
 * License: GNU General Public License v3.0
 * License URL: https://www.gnu.org/licenses/gpl-3.0.txt
 */

:root {
    --bg: #002b36;
    --bd: #586e75;
    --tx: #93a1a1;
    --tx-lnk: #2aa198;

    --bg-sys: #073642;
    --bd-sys: #657b83;
    --tx-sys: #eee8d5;

    --bg-cod: #001f27;
    --bd-cod: #586e75;
    --tx-cod: #b58900;

    --bg-hdr: #073642;
    --bd-hdr: #586e75;
    --tx-hdr: #eee8d5;

    --bg-bdy: #002b36;
    --bd-bdy: #586e75;
    --tx-bdy: #93a1a1;

    --bg-ftr: #073642;
    --bd-ftr: #586e75;
    --tx-ftr: #93a1a1;

    --bg-pnl: #073642;
    --bd-pnl: #586e75;
    --tx-pnl: #93a1a1;

    --bg-prm: #268bd2;
    --bd-prm: #268bd2;
    --tx-prm: #fdf6e3;

    --bg-sec: #6c71c4;
    --bd-sec: #6c71c4;
    --tx-sec: #fdf6e3;

    --bg-inf: #2aa198;
    --bd-inf: #2aa198;
    --tx-inf: #002b36;

    --bg-scc: #859900;
    --bd-scc: #859900;
    --tx-scc: #fdf6e3;

    --bg-wrn: #b58900;
    --bd-wrn: #b58900;
    --tx-wrn: #fdf6e3;

    --bg-dng: #dc322f;
    --bd-dng: #dc322f;
    --tx-dng: #fdf6e3;

    --bg-wht: #fdf6e3;
    --bd-wht: #fdf6e3;
    --tx-wht: #586e75;

    --bg-blk: #001f27;
    --bd-blk: #001f27;
    --tx-blk: #eee8d5;
}
