/**
 * KCUI - Vibrant Ink Color Palette
 * Summary: Dark color palette inspired by the Vibrant Ink palette.
 *
 * Author: KaisarCode
 * Website: https://kaisarcode.com
 * License: GNU General Public License v3.0
 * License URL: https://www.gnu.org/licenses/gpl-3.0.txt
 */

:root {
    --bg: #000000;
    --bd: #3A3A3A;
    --tx: #FFFFFF;
    --tx-lnk: #66D9EF;

    --bg-sys: #111111;
    --bd-sys: #555555;
    --tx-sys: #FFFFFF;

    --bg-cod: #080808;
    --bd-cod: #333333;
    --tx-cod: #A6E22E;

    --bg-hdr: #080808;
    --bd-hdr: #333333;
    --tx-hdr: #FFFFFF;

    --bg-bdy: #000000;
    --bd-bdy: #3A3A3A;
    --tx-bdy: #FFFFFF;

    --bg-ftr: #080808;
    --bd-ftr: #333333;
    --tx-ftr: #D8D8D8;

    --bg-pnl: #101010;
    --bd-pnl: #3A3A3A;
    --tx-pnl: #FFFFFF;

    --bg-prm: #FF6600;
    --bd-prm: #FF6600;
    --tx-prm: #FFFFFF;

    --bg-sec: #FF00FF;
    --bd-sec: #FF00FF;
    --tx-sec: #FFFFFF;

    --bg-inf: #66D9EF;
    --bd-inf: #66D9EF;
    --tx-inf: #000000;

    --bg-scc: #A6E22E;
    --bd-scc: #A6E22E;
    --tx-scc: #000000;

    --bg-wrn: #FFFF00;
    --bd-wrn: #FFFF00;
    --tx-wrn: #000000;

    --bg-dng: #FF3366;
    --bd-dng: #FF3366;
    --tx-dng: #FFFFFF;

    --bg-wht: #FFFFFF;
    --bd-wht: #FFFFFF;
    --tx-wht: #333333;

    --bg-blk: #000000;
    --bd-blk: #000000;
    --tx-blk: #FFFFFF;
}
